@use '../myvariables' as v;
@use '../layouts' as l;
@use '../designElement' as d;


.spanIcon {
  width: 2.3rem;
  height: 2.3rem;

  &>.iconsClass {
    background-color: v.$backgroundColorHellGrayT3;
    width: 1.9rem;
    height: 1.9rem;
    padding: 0.1rem;
    margin: 0.1rem;
    border-radius: 50%;
  }
}

// .iconsClass {


// }